PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://devcollab:devcollab_123@localhost:5432/devcollab"

JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwidXNlcm5hbWUiOiJhaG1lZCIsInJvbGUiOiJkZXZlbG9wZXIiLCJpYXQiOjE3ODY1Mjk4MDAsImV4cCI6MTc4NjUzMzQwMH0.DcJHrrHSgvFpsYxqb6g97uaQTd2kE31rPUeDZTeDsjVq"

REDIS_URL=redis://localhost:6379